.dragged-object {
    position: absolute;
    width: 500px;
    height: 550px;
    transition: transform 1s ease;
    transform-style: preserve-3d;
    perspective: 1200px;
}

.dragged-object:focus {
    outline: none;
}

.rotate {
    position: absolute;
    transform-style: preserve-3d;
    transition: 0.9s;
}

.front {
    height: 550px;
    width: 500px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transform: rotateY(180deg);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.back {
    backface-visibility: hidden;
    position: absolute;
    left: 0;
    top: 0;
    padding: 20px;
    width: 500px;
    height: 550px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*
.move-left {
    transform: translateX(-500px);
    transition: transform 0.5s ease;
}

.move-right {
    transform: translateX(500px);
    transition: transform 0.5s ease;
}
*/
@keyframes rotateAndReturn {
    0% {
        transform: rotate(-6deg) translate(-20px, 0px);
    }

    50% {
        transform: rotate(6deg) translate(-20px, 0px);
    }

    100% {
        transform: rotate(0deg);
    }
}

.return-animation {
    animation: rotateAndReturn 0.5s ease;
}